@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');


@layer base {
  body {
    @apply bg-dark-blue
  }
  
  /* I used layer component because outfit is not a default font family */
  @layer components {
    body {
      font-family: 'outfit';
    }

    .heading-lg {
      @apply text-heading-lg font-light;
    }
  
    .heading-md {
      @apply text-heading-md font-light;
    }
  
    .heading-sm {
      @apply text-heading-md font-medium;
    }
  
    .heading-xs {
      @apply text-heading-xs font-medium;
    }

    .activeClass {
      @apply brightness-0 invert
    }

    .hoverState {
      filter: invert(51%) sepia(58%) saturate(2608%) hue-rotate(328deg) brightness(93%) contrast(112%);
    }

    .horizontalStar{
      @apply inline-block
    }

    .empty-icons {
      display: flex !important;
    }
    .filled-icons {
      display: -webkit-inline-box !important;
    }

    .background {
      background-image: linear-gradient(
      #10141e 5%,
      rgba(16,20,30,.75) 30%,
      rgba(16,20,30,.5) 50%,
      rgba(16,20,30,0),
      rgba(16,20,30,.5) 0,
      rgba(16,20,30,.75) 70%,
      #10141e 90%);
    }
  

    
  /* Custom horizontal scroll for trending section */
  .h-scroll::-webkit-scrollbar {
    border-radius: 10px;
    height: 8px;
    width: 8px;
    display: none;
  }
  .h-scroll::-webkit-scrollbar-thumb:horizontal {
    background: #5a698f; /* app-greyish-blue */
    border-radius: 10px;
  }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  }

}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
