@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');


@layer base {
  body {
    @apply bg-dark-blue
  }
  
  /* I used layer component because outfit is not a default font family */
  @layer components {
    body {
      font-family: 'outfit';
    }

    .heading-lg {
      @apply text-heading-lg font-light;
    }
  
    .heading-md {
      @apply text-heading-md font-light;
    }
  
    .heading-sm {
      @apply text-heading-md font-medium;
    }
  
    .heading-xs {
      @apply text-heading-xs font-medium;
    }
  

    
  /* Custom horizontal scroll for trending section */
  .h-scroll::-webkit-scrollbar {
    border-radius: 10px;
    height: 8px;
    width: 8px;
  }
  .h-scroll::-webkit-scrollbar-thumb:horizontal {
    background: #5a698f; /* app-greyish-blue */
    border-radius: 10px;
  }
  }

}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
